.todo-alert{
    background-color: #d1e7dd;
    color: #0f5132;
    border-color: #badbcc;
}

.todo-alert__inner{
    margin-top: 0px;
    padding: 20px 0px;
}

/* 作成 */

.main-section{
    max-width: 1230px;
    width: 800px;
    margin: 0 auto;
}

.create-form{
    display: flex;
    justify-content: space-between;
}

.create-form__text{
    border-color: #ddd;
    border-radius: 3px;
    padding: 10px 200px;
    margin: 80px 0px;
}

.create-form__button{
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    color: none;
    height: 50px;
    margin: 80px 0px;
    padding: 10px 30px;
}
/* リスト */

.category-list__table{
    width: 800px;
    border-bottom: 1px solid #ddd;
    margin-top: 100px;
}

.category-list__table-title{
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    padding: 10px 0px;
}

.category-list__table-text{
    border: none;
}

.category-list__table-inner{
    padding: 10px 0px;
}

.category-list-form{
    display: flex;
    justify-content: space-between;
}


.category-list__button-update{
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.category-list__button-sell{
    width: 100px;
}

.category-list__button-delete{
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-left: 20px;
}